

.madiv{
    color:rgb(4, 4, 39);
    padding:30px;
    
}

h1{
    font-family: 'Libre Baskerville', serif;

 
}
.bloc{

    
    padding:30px;
}

.titreblog{
    text-align: center;
}
.dateurl{
    display:flex;
}


   
.post{
    border:1px solid black;
    padding:10px;
    margin-bottom: 10px;
}
.url{
   
    width:50%; 
    text-align: right;
    font-family: 'Roboto Slab', serif;

}


.date{
    width:50%;
    font-family: 'Roboto Slab', serif;
}

.contenu{
    padding:15px;
    background:rgb(193, 238, 219);
}

.titreblog{
    text-align: center;
}