<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bloc">
      <h1 class="titreblog">Micro-Microblog</h1>
      <form action="/blog/" method="post" class="">
        <div class="mb-3">
          <label class="form-label" for="post">Entrez votre post </label>
          <textarea
            id="exampleFormControlTextarea1"
            class="form-control"
            rows="3"
            type="text"
            name="post"
            value="# " 
            required
          ># </textarea>
        </div>
        <div class="mb-3">
          <label class="form-label" for="secret"
            >Entrez votre mot de passe</label
          >
          <input class="form-control" type="password" name="secret" />
        </div>
        <div>
          <input class="btn btn-success" type="submit" value="Subscribe!" />
        </div>
      </form>
    </div>
    <div id="container"></div>
    <script>
      fetch("../DATA/posts.json")
        .then((response) => response.json())
        .then((data) => {
         
          data.forEach((url) => {
            fetch(url)
              .then((response) => response.json())
              .then((data) => {
                let container = document.getElementById("container");
                container.classList.add("madiv");

                let divpost = document.createElement("div");
                divpost.classList.add("post");

                let url = document.createElement("div");
                url.classList.add("url");
                url.innerHTML =
                  "Url: " + `<a href=` + data.url + `>` + "Voir le post";

                dateformated =
                  data.date.substring(0, 4) +
                  "-" +
                  data.date.substring(4, 6) +
                  "-" +
                  data.date.substring(6, 8) +
                  "T" +
                  data.date.substring(8, 10) +
                  ":" +
                  data.date.substring(10, 12) +
                  ":" +
                  data.date.substring(12, 14);
   
                let date = document.createElement("div");
               date.classList.add("date");

                date.innerHTML =
                  "Date:" +
                  " " +
                  new Date(dateformated).toLocaleString("fr-FR", {
                    month: "long",
                    day: "numeric",
                    weekday: "long",
                    year: "numeric",
                    hour: "2-digit",
                    minute: "2-digit",
                    second: "2-digit",
                  });

                
           /*  tri.push(data.date);

                let trisort = (a, b) => b - a;
                let test = tri.sort(trisort);
                console.log(test);  */
 
                let dateurl = document.createElement("div");
                dateurl.classList.add("dateurl");

                var md = window.markdownit();
                var result = md.render(data.contenu);
                let contenu = document.createElement("div");
                contenu.classList.add("contenu");
                contenu.innerHTML = "Post: " + " " + result;
                dateurl.appendChild(date);
                dateurl.appendChild(url);

                divpost.appendChild(dateurl);
                divpost.appendChild(contenu);

                container.appendChild(divpost);
              });
          });
        });


    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.3.2/markdown-it.min.js"
      integrity="sha512-TIDbN32lXOg2Mw1VcnKrQLZgfALryJogWCu/NHWtlMCR1jget+mOwMtdehBBZz2f9PKeK2AQPwVxkbl4u/1H5g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
